$header-font: "Canopee";
$normal-body-font: "Futura Book";
$sub-header-font: "Futura Medium Oblique";
$read-more-font: "Futura Medium";
$add-info: "Book Oblique";
$fbold-oblique: "Futura Bold Oblique";
$menu-link: "Futura Heavy";

@font-face {
	font-family: "Futura Heavy";
	src: url("../fonts/Futura/FuturaStdHeavy.otf") format("opentype");
}
@font-face {
	font-family: "Canopee";
	src: url("../fonts/Canopee.otf") format("opentype");
}
@font-face {
	font-family: "Futura Bold Oblique";
	src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}
@font-face {
	font-family: "Futura Book";
	src: url("../fonts/Futura/FuturaStdBook.otf") format("opentype");
}
@font-face {
	font-family: "Futura Medium Oblique";
	src: url("../fonts/Futura/FuturaStdMediumOblique.otf") format("opentype");
}
@font-face {
	font-family: "Futura Medium";
	src: url("../fonts/Futura/FuturaStdMedium.otf") format("opentype");
}
@font-face {
	font-family: "Book Oblique";
	src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $normal-body-font;
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1250px;
	}
}

a {
	color: #000;
	text-decoration: none;
	&:hover {
		color: #888;
		text-decoration: none;
	}
}
.web-nav {
	display: flex;
	flex-wrap: wrap;
	padding: 3em 7em 0 7em;
	a {
		width: 180px;
		height: 180px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		margin-left: auto !important;
		align-self: center;
		font-size: 18px;
		flex-wrap: wrap;
		li {
			padding: 2em;
			a {
				color: #000;
				text-decoration: none;
				&:hover {
					color: #888;
					text-decoration: none;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		display: none;
	}
}

.mobile-nav {
	display: none;
	align-items: center;
	padding-bottom: 3em;
	padding-top: 1em;
	padding-right: 15px;
	padding-left: 0px;

	img {
		padding: 1em;
	}

	.hamburger-menu {
		margin-left: auto;
		cursor: pointer;
	}

	@media only screen and (max-width: 767px) {
		display: flex;
	}
}

.footer-container {
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
	ul {
		list-style: none;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		li {
			padding: 3em;
		}

		@media only screen and (max-width: 767px) {
			margin-top: 1rem;
			li {
				padding: 1em;
			}
		}
	}
}

.sub-header {
	font-family: $sub-header-font;
}
.main-header {
	font-family: $header-font;
}
.body-content {
	font-family: $normal-body-font;
}
.link-read-more {
	font-family: $read-more-font;
	img {
		width: auto !important;
		height: auto !important;
		object-fit: unset !important;
	}
}
.hero-highlight {
	padding-top: 4em;
	.row {
		height: 70vh;
		@media only screen and (max-width: 1199px) {
			height: auto;
		}
	}
	.image-container {
		align-self: center;
		img {
			width: 450px;
			height: 450px;
			border-radius: 50%;
			object-fit: cover;
			@media only screen and (max-width: 991px) {
				width: 350px;
				height: 350px;
			}
			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				width: 400px;
				height: 400px;
			}
		}
	}
	.content-container {
		align-self: center;
		padding-left: 4em;
		label {
			font-size: 18px;
			span {
				color: #db6d22;
			}
		}
		.sub-header {
			font-size: 18px;
			font-weight: bold;
		}
		.main-header {
			font-size: 64px;
		}
		.body-content {
			font-size: 18px;
		}
		.link-read-more {
			font-size: 20px;
			color: #f3b10d;
			&:hover {
				color: #333;
			}
		}

		@media only screen and (max-width: 991px) {
			padding-left: 6em;
		}
		@media only screen and (max-width: 767px) {
			padding-left: 15px;
			padding-top: 2em;

			.main-header {
				font-size: 48px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		padding-top: 0;

		.image-container img {
			height: 320px;
			width: 320px;
		}

		.row {
			height: auto;
		}
	}
}
hr {
	border-top: 2px solid #000;
}
.cards-container {
	padding-bottom: 4em;
	padding-top: 4em;
	.header-container {
		padding-bottom: 1.5em;
		h2 {
			font-size: 64px;
		}
		p {
			font-size: 18px;
		}
		a {
			font-size: 20px;
		}
	}
	img {
		width: 100%;
		height: 450px;
		object-fit: cover;
	}
	.content-container {
		padding-top: 2em;
		.button-container {
			button {
				width: 85%;
				height: 45px;
				background-color: #f3b10d;
				color: #fff;
				font-size: 20px;
				border-radius: 0;
				border: none;
				cursor: pointer;
				outline: none;
			}
			img {
				width: auto;
				height: 20px;
				object-fit: unset;
				padding-left: 1em;
			}
		}
		.main-header {
			font-size: 48px;
		}
		.shop-header {
			min-height: 120px;
		}
		.recipe-highlight {
			padding-top: 0.2em;
		}
		label {
			font-size: 18px;
			span {
				color: #db6d22;
			}
		}
		.price {
			font-size: 14px;
		}
		p {
			font-size: 18px;
		}
		ul {
			list-style: none;
			display: inline-flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			li {
				margin: 0.3em 0.3em 0 0.3em;
				height: 50px;
				width: 50px;
			}
			.diet-icons {
				width: 100%;
				height: 100%;
				object-fit: unset;
			}
		}

		@media only screen and (max-width: 767px) {
			padding-bottom: 4em;
			.main-header {
				font-size: 40px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		padding-bottom: 2em;
		padding-top: 2em;
	}
}

.about-footer-container {
	background-color: #f3b10d;
	padding: 0.5em 0;
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-wrap: wrap;

	.home-footer {
		padding-top: 2em;
	}
	h1 {
		font-size: 64px;
	}
	p {
		font-size: 18px;
	}
	a {
		font-size: 20px;
		&:hover {
			color: #fff;
		}
	}

	.home-footer-image {
		width: 40%;
		// height: 300px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@media only screen and (max-width: 767px) {
		padding: 5em 1em 5em 1em;

		.home-footer-image {
			margin-top: 4em;
			width: 100%;
			height: 450px;
			img {
				object-fit: cover;
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1216px) {
		.home-footer-image {
			margin-top: 2em;
			width: 100%;
			height: 550px;
			img {
				object-fit: cover;
			}
		}
	}
}

.about-header {
	text-align: center;
	.about-hero {
		width: 100%;
		height: 100%;
		padding-bottom: 3em;
		padding-top: 3em;
	}
	.header-title {
		padding-top: 2em;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		padding-bottom: 0.5em;
		h5 {
			line-height: 1.5em;
		}
		h1 {
			font-size: 72px;
		}
		h2 {
			font-size: 32px;
			max-width: 550px;
			font-family: $sub-header-font;
		}
	}
	p {
		font-size: 18px;
	}

	h5 {
		font-family: $sub-header-font;
		font-size: 24px;
		padding: 1.5em;
	}

	.click-here {
		font-family: $sub-header-font;
		color: #f3b10d;
	}
}

.cards-container-about {
	padding-bottom: 5em;
	padding-top: 2em;
	h1 {
		text-align: center;
		padding-bottom: 0.5em;
		font-size: 64px;
	}

	.image-sessions {
		display: flex;
		justify-content: space-between;
		img {
			width: 48%;
			height: 250px;
		}
	}

	.content-container {
		h2 {
			text-align: center;
		}
		p {
			text-align: justify;
			font-size: 18px;
		}
		h3 {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #db6d22;
		}

		.link-read-more {
			color: #f3b10d;
		}
	}

	.sessions-container {
		align-self: center;
	}
}

.inner-header {
	text-align: center;
	padding-top: 5em;

	.shop-header-img {
		width: 100%;
		object-fit: cover;
		height: 500px;
	}

	h1 {
		font-size: 78px;
	}
	label {
		font-size: 18px;
		span {
			color: #db6d22;
		}
	}
	.add-infos {
		font-family: $add-info;
		font-size: 20px;
		font-weight: bold;
	}
	h2 {
		font-family: $read-more-font;
		color: #da6d22;
		padding: 1em 0;
	}
	.hero-image {
		width: 100%;
		height: 100%;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	.recipe-nav {
		list-style: none;
		display: inline-flex;
		flex-wrap: wrap;
		font-size: 18px;
		justify-content: center;

		li {
			padding: 2em 2em 0em 2em;
			font-family: $read-more-font;
			font-weight: bold;
			a {
				transition: ease-in 0.1s;
				&:hover {
					background-color: #f3b10d;
					padding: 0.2em 0.8em;
					color: #fff;
					transition: ease-in 0.1s;
				}
			}
		}

		@media only screen and (max-width: 767px) {
			font-size: 16px;
			li {
				padding: 0.5em;
				a {
					&:hover {
						padding: 0.1em 0.5em;
					}
				}
			}
		}
	}

	.dietary-icons {
		list-style: none;
		display: inline-flex;
		flex-wrap: wrap;
		font-size: 16px;

		img {
			height: 40px;
			width: 40px;
		}
		li {
			padding: 0.5em;
			font-weight: normal;
		}
	}

	.inner-dietary-icons {
		li {
			padding: 0 1.5em;
		}
	}
}

.shop-inner-header {
	@media only screen and (max-width: 767px) {
		padding: 0;
		.shop-header-img {
			height: 500px;
			padding-bottom: 1em;
		}
	}
}

.cards-container-recipes {
	text-align: center;
	.cards-pb {
		padding-bottom: 1em;
		p {
			text-align: justify;
		}
	}
}

.cards-container-shop {
	.cards-pb {
		padding-bottom: 3em;
		p {
			text-align: justify;
		}
	}
}

.inner-content {
	h5 {
		font-family: $sub-header-font;
		font-weight: bold;
	}
	p {
		font-size: 16px;
		padding: 1em 0;
	}
	.recipe-image-container {
		text-align: center;
		img {
			width: 100%;
			height: 100%;
		}
		p {
			font-size: 20px;
			padding: 1.5em 0;
			margin: 0;
		}
	}

	.col-image-text {
		table {
			label {
				font-weight: bold;
				color: #da712f;
				font-size: 20px;
				font-family: $sub-header-font;
			}
			img {
				width: 100%;
			}
			ul {
				list-style: none;
				font-size: 16px;
				padding: 1em 0;
			}

			.table-text-content {
				display: flex;
				flex-direction: column;
				padding: 0 0 0 5em;

				ol {
					padding-left: 1em;
					li {
						padding: 1em 0;
						font-size: 16px;
					}
				}
			}

			.table-image {
				width: 50%;
				text-align: center;
				img {
					object-fit: cover;
					width: 100%;
				}
				p {
					font-size: 18px;
				}
			}
		}
	}

	.inner-text-image {
		padding-top: 2em;
		td:nth-child(1) {
			width: 40%;
		}
		td:nth-child(2) {
			width: 50%;
			padding-left: 5em;
			img {
				height: 100%;
			}
		}
	}

	.inner-left-text-image {
		padding-top: 2em;
		td:nth-child(2) {
			width: 40%;
		}
		td:nth-child(1) {
			width: 50%;
			padding-right: 5em;
			img {
				height: 100%;
			}
		}
	}

	.top-tips {
		border: 2px solid #da712f;
		padding: 2em;
		font-size: 18px;
	}

	h2 {
		color: #da712f;
		font-weight: bold;
		padding: 2em 4em;
		font-family: $fbold-oblique;
	}
}

.shop-inner {
	.right-content {
		padding-left: 3em;
	}
	h1 {
		font-family: $header-font;
		font-size: 74px;
	}
	.full-image {
		width: 100%;
		height: 800px;
		object-fit: cover;
	}

	.small-images {
		padding-top: 1em;
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
	.stars-image {
		height: 30px;
		display: block;
	}
	small {
		display: block;
	}

	.product-actions {
		padding-top: 2em;
		.form-control {
			width: auto;
			font-weight: bold;
			border-radius: 0;
			height: 45px !important;
			width: 140px;
			border: 1px solid black;
		}

		.spinner-container {
			height: 45px;
			display: inline-flex;
			#input_spinner {
				-webkit-appearance: none;
				-moz-appearance: textfield;
			}

			#input_spinner::-webkit-outer-spin-button,
			#input_spinner::-webkit-inner-spin-button {
				-webkit-appearance: none;
				-moz-appearance: textfield;
			}

			input {
				border: 1px solid black;
				width: 80px;
				text-align: center;
				font-size: 20px;
			}

			button {
				border: 1px solid black;
				width: 30px;
				background-color: transparent;
				font-size: 25px;
			}
		}

		.add-to-cart-inner {
			margin-top: 2em;
			display: block;
			width: 300px;
			height: 45px;
			background-color: #f3b10d;
			color: #fff;
			font-size: 20px;
			border-radius: 0;
			border: none;
			cursor: pointer;
			outline: none;
		}
	}

	.product-description {
		h5 {
			color: #f3b10d;
			font-family: $read-more-font;
			font-size: 18px;
			padding: 2em 0 2em 0;
		}

		label {
			font-weight: bold;
		}

		ul {
			padding-left: 2em;
			padding-top: 0.5em;
			font-size: 20px;
		}

		#accordion {
			padding-top: 2em;
		}
		.sec-panel {
			border-bottom: 1px solid #989898;
		}
		.panel {
			cursor: pointer;
			border-top: 1px solid #989898;
			padding-top: 1em;
			padding-bottom: 1em;

			h4 {
				margin-bottom: 0;
				font-size: 18px;
				font-weight: bold;
			}
			.panel-title {
				position: relative;
				color: #989898;
			}

			.panel-title::after {
				content: "\f107";
				color: #989898;
				top: -2px;
				right: 0px;
				position: absolute;
				font-family: "FontAwesome";
			}

			.panel-title[aria-expanded="true"]::after {
				content: "\f106";
			}

			.panel-body {
				padding-top: 1em;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.full-image {
			height: auto;
		}
		.small-images-container {
			justify-content: space-evenly;
			.small-image-container {
				width: 200px;
				padding-right: 0;
				padding-left: 0;
			}
			.small-images {
				height: 100%;
				width: 100%;
			}
		}

		h1 {
			font-size: 54px;
			padding-top: 1em;
		}

		.right-content {
			padding-left: 15px;
		}
		.product-actions {
			.add-to-cart-inner {
				width: 100%;
			}
		}
	}

	@media only screen and (max-width: 399px) {
		.small-images-container {
			.small-image-container {
				width: 150px;
			}
		}
	}
}

.shop-review {
	text-align: center;
	color: #989898;
	h5 {
		padding-top: 5em;
	}
	hr {
		border-top: 2px solid #989898;
	}

	p {
		padding: 3em;
	}
}

.shop-inner-cards {
	h1 {
		text-align: center;
		font-size: 50px;
		padding-bottom: 1em;
	}
}

#back-button {
	padding-top: 2em;
	padding-bottom: 2em;
	img {
		padding-right: 2em;
	}
	a {
		font-size: 20px;
		font-weight: bold;
	}
}

.full-menu {
	display: none;
	z-index: 1;
	background-color: #f3b10d;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	font-family: $menu-link;

	.close-menu {
		text-align: center;
		padding: 2em;
		label {
			text-align: center;
			font-weight: bolder;
			font-size: 20px;
			cursor: pointer;
		}
	}

	.menu-title {
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 5em;
		h1 {
			max-width: 650px;
			font-size: 68px;
		}
	}

	.menu-links-container {
		display: flex;
		flex: auto 1;
		flex-wrap: wrap;
		justify-content: space-between;
		.cat-container {
			h2 {
				font-size: 56px;
			}

			ul {
				font-family: $menu-link;
				font-weight: bold;
				list-style: none;
				li {
					padding-bottom: 1em;
					a {
						&:hover {
							color: #fff;
						}
					}
				}
			}

			@media only screen and (max-width: 767px) {
				display: flex;
				flex-direction: column;
				width: 100%;
				justify-content: center;
				align-items: center;

				h2 {
					font-size: 40px;
				}
				ul {
					display: none;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.menu-title {
			h1 {
				font-size: 52px;
			}
		}

		.menu-links-container {
			padding-top: 3em;
		}
	}
}

#show_menu {
	cursor: pointer;
}

.nutrition-philosophy {
	h1 {
		text-align: center;
		font-size: 78px;
	}

	.nutrition-header {
		margin-top: 50px;
		margin-bottom: 50px;
		border-bottom: 1px solid #333;
	}

	p {
		text-align: justify;
		font-size: 18px;
	}
}

#inner_content_container {
	table {
		label {
			font-weight: bold;
			color: #da712f;
			font-size: 20px;
			font-family: $sub-header-font;
		}
		ul {
			list-style: none;
			font-size: 16px;
			padding: 1em 0;
		}

		.table-text-content {
			display: flex;
			flex-direction: column;
			padding: 0 0 0 5em;

			ol {
				padding-left: 1em;
				li {
					padding: 1em 0;
					font-size: 16px;
				}
			}
		}

		.table-image {
			width: 50%;
			text-align: center;
			padding: 2em 0;
			img {
				object-fit: cover;
				width: 100%;
			}
			p {
				font-size: 18px;
			}
		}
		.image1 {
			padding-right: 1em;
		}
		.image2 {
			padding-left: 1em;
		}
	}
}

#search_bar {
	border: none;
	border-bottom: 1px solid #000;
	color: #000;
	line-height: 1.5em;
	font-size: 18px;

	&::placeholder {
		font-size: 14px;
	}

	&:focus {
		outline: none;
	}
}
