@font-face {
  font-family: "Canopee";
  src: url("../fonts/Canopee.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bold Oblique";
  src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}
@font-face {
  font-family: "Futura Book";
  src: url("../fonts/Futura/FuturaStdBook.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium Oblique";
  src: url("../fonts/Futura/FuturaStdMediumOblique.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../fonts/Futura/FuturaStdMedium.otf") format("opentype");
}
@font-face {
  font-family: "Book Oblique";
  src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura Book";
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #888;
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 7em 0 7em;
}
nav a {
  width: 180px;
  height: 180px;
}
nav a img {
  width: 100%;
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: auto !important;
  align-self: center;
  font-size: 18px;
  flex-wrap: wrap;
}
nav ul li {
  padding: 2em;
}
nav ul li a {
  color: #000;
  text-decoration: none;
}
nav ul li a:hover {
  color: #888;
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-container ul li {
  padding: 3em;
}

.sub-header {
  font-family: "Futura Medium Oblique";
}

.main-header {
  font-family: "Canopee";
}

.body-content {
  font-family: "Futura Book";
}

.link-read-more {
  font-family: "Futura Medium";
}
.link-read-more img {
  width: auto !important;
  height: auto !important;
  object-fit: unset !important;
}

.hero-highlight {
  padding-top: 4em;
}
.hero-highlight .row {
  height: 70vh;
}
.hero-highlight .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.hero-highlight .content-container {
  align-self: center;
  padding-left: 4em;
}
.hero-highlight .content-container .sub-header {
  font-size: 18px;
  font-weight: bold;
}
.hero-highlight .content-container .main-header {
  font-size: 64px;
}
.hero-highlight .content-container .body-content {
  font-size: 18px;
}
.hero-highlight .content-container .link-read-more {
  font-size: 20px;
  color: #f3b10d;
}
.hero-highlight .content-container .link-read-more:hover {
  color: #333;
}

hr {
  border-top: 2px solid #000;
}

.cards-container {
  padding-bottom: 4em;
  padding-top: 4em;
}
.cards-container .header-container {
  padding-bottom: 1.5em;
}
.cards-container .header-container h2 {
  font-size: 64px;
}
.cards-container .header-container p {
  font-size: 18px;
}
.cards-container .header-container a {
  font-size: 20px;
}
.cards-container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.cards-container .content-container {
  padding-top: 2em;
}
.cards-container .content-container .button-container button {
  width: 85%;
  height: 45px;
  background-color: #f3b10d;
  color: #fff;
  font-size: 20px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
.cards-container .content-container .button-container img {
  width: auto;
  height: 20px;
  object-fit: unset;
  padding-left: 1em;
}
.cards-container .content-container .main-header {
  font-size: 48px;
}
.cards-container .content-container .shop-header {
  min-height: 120px;
}
.cards-container .content-container .recipe-highlight {
  padding-top: 0.2em;
}
.cards-container .content-container label {
  font-size: 18px;
}
.cards-container .content-container label span {
  color: #db6d22;
}
.cards-container .content-container .price {
  font-size: 14px;
}
.cards-container .content-container p {
  font-size: 18px;
}
.cards-container .content-container ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.cards-container .content-container ul li {
  margin: 0.3em 0.3em 0 0.3em;
  height: 50px;
  width: 50px;
}
.cards-container .content-container ul .diet-icons {
  width: 100%;
  height: 100%;
  object-fit: unset;
}

.about-footer-container {
  background-color: #f3b10d;
  padding: 100px 134px 100px 134px;
}
.about-footer-container h1 {
  font-size: 64px;
}
.about-footer-container p {
  font-size: 18px;
}
.about-footer-container a {
  font-size: 20px;
}
.about-footer-container a:hover {
  color: #fff;
}

.about-header .header-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-bottom: 0.5em;
}
.about-header .header-title h1 {
  font-size: 72px;
}
.about-header .header-title h2 {
  font-size: 32px;
  max-width: 550px;
  font-family: "Futura Medium Oblique";
}
.about-header p {
  font-size: 18px;
}
.about-header h5 {
  font-family: "Futura Medium Oblique";
  font-weight: bold;
}

.cards-container-about {
  padding-bottom: 5em;
}
.cards-container-about h1 {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 64px;
}
.cards-container-about .content-container h2 {
  text-align: center;
}
.cards-container-about .content-container p {
  text-align: justify;
  font-size: 18px;
}
.cards-container-about .content-container h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #db6d22;
}

.inner-header {
  text-align: center;
  padding-top: 5em;
}
.inner-header h1 {
  font-size: 78px;
}
.inner-header label {
  font-size: 18px;
}
.inner-header label span {
  color: #db6d22;
}
.inner-header .add-infos {
  font-family: "Book Oblique";
  font-size: 20px;
  font-weight: bold;
}
.inner-header h2 {
  font-family: "Futura Medium";
  color: #da6d22;
  padding: 1em 0;
}
.inner-header .hero-image {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.inner-header .recipe-nav {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 18px;
}
.inner-header .recipe-nav li {
  padding: 2em 2em 0em 2em;
  font-family: "Futura Medium";
  font-weight: bold;
}
.inner-header .recipe-nav li a {
  transition: ease-in 0.1s;
}
.inner-header .recipe-nav li a:hover {
  background-color: #f3b10d;
  padding: 0.2em 0.8em;
  color: #fff;
  transition: ease-in 0.1s;
}
.inner-header .dietary-icons {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 18px;
}
.inner-header .dietary-icons img {
  height: 50px;
  width: 50px;
}
.inner-header .dietary-icons li {
  padding: 0.5em;
  font-weight: normal;
}
.inner-header .inner-dietary-icons li {
  padding: 0 1.5em;
}

.cards-container-recipes {
  text-align: center;
}
.cards-container-recipes .cards-pb {
  padding-bottom: 1em;
}
.cards-container-recipes .cards-pb p {
  text-align: justify;
}

.inner-content h5 {
  font-family: "Futura Medium Oblique";
  font-weight: bold;
}
.inner-content p {
  font-size: 16px;
  padding: 1em 0;
}
.inner-content .recipe-image-container {
  text-align: center;
}
.inner-content .recipe-image-container img {
  width: 100%;
  height: 100%;
}
.inner-content .recipe-image-container p {
  font-size: 20px;
  padding: 1.5em 0;
  margin: 0;
}
.inner-content .col-image-text table label {
  font-weight: bold;
  color: #da712f;
  font-size: 20px;
  font-family: "Futura Medium Oblique";
}
.inner-content .col-image-text table img {
  width: 100%;
}
.inner-content .col-image-text table ul {
  list-style: none;
  font-size: 16px;
  padding: 1em 0;
}
.inner-content .col-image-text table .table-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5em;
}
.inner-content .col-image-text table .table-text-content ol {
  padding-left: 1em;
}
.inner-content .col-image-text table .table-text-content ol li {
  padding: 1em 0;
  font-size: 16px;
}
.inner-content .col-image-text table .table-image {
  width: 50%;
  text-align: center;
}
.inner-content .col-image-text table .table-image img {
  object-fit: cover;
  width: 100%;
}
.inner-content .col-image-text table .table-image p {
  font-size: 18px;
}
.inner-content .inner-text-image {
  padding-top: 2em;
}
.inner-content .inner-text-image td:nth-child(1) {
  width: 40%;
}
.inner-content .inner-text-image td:nth-child(2) {
  width: 50%;
  padding-left: 5em;
}
.inner-content .inner-text-image td:nth-child(2) img {
  height: 100%;
}
.inner-content .inner-left-text-image {
  padding-top: 2em;
}
.inner-content .inner-left-text-image td:nth-child(2) {
  width: 40%;
}
.inner-content .inner-left-text-image td:nth-child(1) {
  width: 50%;
  padding-right: 5em;
}
.inner-content .inner-left-text-image td:nth-child(1) img {
  height: 100%;
}
.inner-content .top-tips {
  border: 2px solid #da712f;
  padding: 2em;
  font-size: 18px;
}
.inner-content h2 {
  color: #da712f;
  font-weight: bold;
  padding: 2em 4em;
  font-family: "Futura Bold Oblique";
}

.header-image-two table label {
  font-weight: bold;
  color: #da712f;
  font-size: 20px;
  font-family: "Futura Medium Oblique";
}
.header-image-two table ul {
  list-style: none;
  font-size: 16px;
  padding: 1em 0;
}
.header-image-two table .table-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5em;
}
.header-image-two table .table-text-content ol {
  padding-left: 1em;
}
.header-image-two table .table-text-content ol li {
  padding: 1em 0;
  font-size: 16px;
}
.header-image-two table .table-image {
  width: 50%;
  text-align: center;
  padding: 2em 0;
}
.header-image-two table .table-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-image-two table .table-image p {
  font-size: 18px;
}
.header-image-two table .image1 {
  padding-right: 1em;
}
.header-image-two table .image2 {
  padding-left: 1em;
}

/*# sourceMappingURL=style.css.map */
