@charset "UTF-8";
@font-face {
  font-family: "Futura Heavy";
  src: url("../fonts/Futura/FuturaStdHeavy.otf") format("opentype");
}
@font-face {
  font-family: "Canopee";
  src: url("../fonts/Canopee.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bold Oblique";
  src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}
@font-face {
  font-family: "Futura Book";
  src: url("../fonts/Futura/FuturaStdBook.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium Oblique";
  src: url("../fonts/Futura/FuturaStdMediumOblique.otf") format("opentype");
}
@font-face {
  font-family: "Futura Medium";
  src: url("../fonts/Futura/FuturaStdMedium.otf") format("opentype");
}
@font-face {
  font-family: "Book Oblique";
  src: url("../fonts/Futura/FuturaStdBookOblique.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura Book";
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #888;
  text-decoration: none;
}

.web-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 3em 7em 0 7em;
}
.web-nav a {
  width: 180px;
  height: 180px;
}
.web-nav a img {
  width: 100%;
  height: 100%;
}
.web-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: auto !important;
  align-self: center;
  font-size: 18px;
  flex-wrap: wrap;
}
.web-nav ul li {
  padding: 2em;
}
.web-nav ul li a {
  color: #000;
  text-decoration: none;
}
.web-nav ul li a:hover {
  color: #888;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .web-nav {
    display: none;
  }
}

.mobile-nav {
  display: none;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 1em;
  padding-right: 15px;
  padding-left: 0px;
}
.mobile-nav img {
  padding: 1em;
}
.mobile-nav .hamburger-menu {
  margin-left: auto;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .mobile-nav {
    display: flex;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-container ul li {
  padding: 3em;
}
@media only screen and (max-width: 767px) {
  .footer-container ul {
    margin-top: 1rem;
  }
  .footer-container ul li {
    padding: 1em;
  }
}

.sub-header {
  font-family: "Futura Medium Oblique";
}

.main-header {
  font-family: "Canopee";
}

.body-content {
  font-family: "Futura Book";
}

.link-read-more {
  font-family: "Futura Medium";
}
.link-read-more img {
  width: auto !important;
  height: auto !important;
  object-fit: unset !important;
}

.hero-highlight {
  padding-top: 4em;
}
.hero-highlight .row {
  height: 70vh;
}
@media only screen and (max-width: 1199px) {
  .hero-highlight .row {
    height: auto;
  }
}
.hero-highlight .image-container {
  align-self: center;
}
.hero-highlight .image-container img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .hero-highlight .image-container img {
    width: 350px;
    height: 350px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-highlight .image-container img {
    width: 400px;
    height: 400px;
  }
}
.hero-highlight .content-container {
  align-self: center;
  padding-left: 4em;
}
.hero-highlight .content-container label {
  font-size: 18px;
}
.hero-highlight .content-container label span {
  color: #db6d22;
}
.hero-highlight .content-container .sub-header {
  font-size: 18px;
  font-weight: bold;
}
.hero-highlight .content-container .main-header {
  font-size: 64px;
}
.hero-highlight .content-container .body-content {
  font-size: 18px;
}
.hero-highlight .content-container .link-read-more {
  font-size: 20px;
  color: #f3b10d;
}
.hero-highlight .content-container .link-read-more:hover {
  color: #333;
}
@media only screen and (max-width: 991px) {
  .hero-highlight .content-container {
    padding-left: 6em;
  }
}
@media only screen and (max-width: 767px) {
  .hero-highlight .content-container {
    padding-left: 15px;
    padding-top: 2em;
  }
  .hero-highlight .content-container .main-header {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-highlight {
    padding-top: 0;
  }
  .hero-highlight .image-container img {
    height: 320px;
    width: 320px;
  }
  .hero-highlight .row {
    height: auto;
  }
}

hr {
  border-top: 2px solid #000;
}

.cards-container {
  padding-bottom: 4em;
  padding-top: 4em;
}
.cards-container .header-container {
  padding-bottom: 1.5em;
}
.cards-container .header-container h2 {
  font-size: 64px;
}
.cards-container .header-container p {
  font-size: 18px;
}
.cards-container .header-container a {
  font-size: 20px;
}
.cards-container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.cards-container .content-container {
  padding-top: 2em;
}
.cards-container .content-container .button-container button {
  width: 85%;
  height: 45px;
  background-color: #f3b10d;
  color: #fff;
  font-size: 20px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
.cards-container .content-container .button-container img {
  width: auto;
  height: 20px;
  object-fit: unset;
  padding-left: 1em;
}
.cards-container .content-container .main-header {
  font-size: 48px;
}
.cards-container .content-container .shop-header {
  min-height: 120px;
}
.cards-container .content-container .recipe-highlight {
  padding-top: 0.2em;
}
.cards-container .content-container label {
  font-size: 18px;
}
.cards-container .content-container label span {
  color: #db6d22;
}
.cards-container .content-container .price {
  font-size: 14px;
}
.cards-container .content-container p {
  font-size: 18px;
}
.cards-container .content-container ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.cards-container .content-container ul li {
  margin: 0.3em 0.3em 0 0.3em;
  height: 50px;
  width: 50px;
}
.cards-container .content-container ul .diet-icons {
  width: 100%;
  height: 100%;
  object-fit: unset;
}
@media only screen and (max-width: 767px) {
  .cards-container .content-container {
    padding-bottom: 4em;
  }
  .cards-container .content-container .main-header {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .cards-container {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

.about-footer-container {
  background-color: #f3b10d;
  padding: 0.5em 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-footer-container .home-footer {
  padding-top: 2em;
}
.about-footer-container h1 {
  font-size: 64px;
}
.about-footer-container p {
  font-size: 18px;
}
.about-footer-container a {
  font-size: 20px;
}
.about-footer-container a:hover {
  color: #fff;
}
.about-footer-container .home-footer-image {
  width: 40%;
}
.about-footer-container .home-footer-image img {
  width: 100%;
  height: 100%;
}
.about-footer-container .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .about-footer-container {
    padding: 5em 1em 5em 1em;
  }
  .about-footer-container .home-footer-image {
    margin-top: 4em;
    width: 100%;
    height: 450px;
  }
  .about-footer-container .home-footer-image img {
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1216px) {
  .about-footer-container .home-footer-image {
    margin-top: 2em;
    width: 100%;
    height: 550px;
  }
  .about-footer-container .home-footer-image img {
    object-fit: cover;
  }
}

.about-header {
  text-align: center;
}
.about-header .about-hero {
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
  padding-top: 3em;
}
.about-header .header-title {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 0.5em;
}
.about-header .header-title h5 {
  line-height: 1.5em;
}
.about-header .header-title h1 {
  font-size: 72px;
}
.about-header .header-title h2 {
  font-size: 32px;
  max-width: 550px;
  font-family: "Futura Medium Oblique";
}
.about-header p {
  font-size: 18px;
}
.about-header h5 {
  font-family: "Futura Medium Oblique";
  font-size: 24px;
  padding: 1.5em;
}
.about-header .click-here {
  font-family: "Futura Medium Oblique";
  color: #f3b10d;
}

.cards-container-about {
  padding-bottom: 5em;
  padding-top: 2em;
}
.cards-container-about h1 {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 64px;
}
.cards-container-about .image-sessions {
  display: flex;
  justify-content: space-between;
}
.cards-container-about .image-sessions img {
  width: 48%;
  height: 250px;
}
.cards-container-about .content-container h2 {
  text-align: center;
}
.cards-container-about .content-container p {
  text-align: justify;
  font-size: 18px;
}
.cards-container-about .content-container h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #db6d22;
}
.cards-container-about .content-container .link-read-more {
  color: #f3b10d;
}
.cards-container-about .sessions-container {
  align-self: center;
}

.inner-header {
  text-align: center;
  padding-top: 5em;
}
.inner-header .shop-header-img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.inner-header h1 {
  font-size: 78px;
}
.inner-header label {
  font-size: 18px;
}
.inner-header label span {
  color: #db6d22;
}
.inner-header .add-infos {
  font-family: "Book Oblique";
  font-size: 20px;
  font-weight: bold;
}
.inner-header h2 {
  font-family: "Futura Medium";
  color: #da6d22;
  padding: 1em 0;
}
.inner-header .hero-image {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.inner-header .recipe-nav {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: center;
}
.inner-header .recipe-nav li {
  padding: 2em 2em 0em 2em;
  font-family: "Futura Medium";
  font-weight: bold;
}
.inner-header .recipe-nav li a {
  transition: ease-in 0.1s;
}
.inner-header .recipe-nav li a:hover {
  background-color: #f3b10d;
  padding: 0.2em 0.8em;
  color: #fff;
  transition: ease-in 0.1s;
}
@media only screen and (max-width: 767px) {
  .inner-header .recipe-nav {
    font-size: 16px;
  }
  .inner-header .recipe-nav li {
    padding: 0.5em;
  }
  .inner-header .recipe-nav li a:hover {
    padding: 0.1em 0.5em;
  }
}
.inner-header .dietary-icons {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.inner-header .dietary-icons img {
  height: 40px;
  width: 40px;
}
.inner-header .dietary-icons li {
  padding: 0.5em;
  font-weight: normal;
}
.inner-header .inner-dietary-icons li {
  padding: 0 1.5em;
}

@media only screen and (max-width: 767px) {
  .shop-inner-header {
    padding: 0;
  }
  .shop-inner-header .shop-header-img {
    height: 500px;
    padding-bottom: 1em;
  }
}

.cards-container-recipes {
  text-align: center;
}
.cards-container-recipes .cards-pb {
  padding-bottom: 1em;
}
.cards-container-recipes .cards-pb p {
  text-align: justify;
}

.cards-container-shop .cards-pb {
  padding-bottom: 3em;
}
.cards-container-shop .cards-pb p {
  text-align: justify;
}

.inner-content h5 {
  font-family: "Futura Medium Oblique";
  font-weight: bold;
}
.inner-content p {
  font-size: 16px;
  padding: 1em 0;
}
.inner-content .recipe-image-container {
  text-align: center;
}
.inner-content .recipe-image-container img {
  width: 100%;
  height: 100%;
}
.inner-content .recipe-image-container p {
  font-size: 20px;
  padding: 1.5em 0;
  margin: 0;
}
.inner-content .col-image-text table label {
  font-weight: bold;
  color: #da712f;
  font-size: 20px;
  font-family: "Futura Medium Oblique";
}
.inner-content .col-image-text table img {
  width: 100%;
}
.inner-content .col-image-text table ul {
  list-style: none;
  font-size: 16px;
  padding: 1em 0;
}
.inner-content .col-image-text table .table-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5em;
}
.inner-content .col-image-text table .table-text-content ol {
  padding-left: 1em;
}
.inner-content .col-image-text table .table-text-content ol li {
  padding: 1em 0;
  font-size: 16px;
}
.inner-content .col-image-text table .table-image {
  width: 50%;
  text-align: center;
}
.inner-content .col-image-text table .table-image img {
  object-fit: cover;
  width: 100%;
}
.inner-content .col-image-text table .table-image p {
  font-size: 18px;
}
.inner-content .inner-text-image {
  padding-top: 2em;
}
.inner-content .inner-text-image td:nth-child(1) {
  width: 40%;
}
.inner-content .inner-text-image td:nth-child(2) {
  width: 50%;
  padding-left: 5em;
}
.inner-content .inner-text-image td:nth-child(2) img {
  height: 100%;
}
.inner-content .inner-left-text-image {
  padding-top: 2em;
}
.inner-content .inner-left-text-image td:nth-child(2) {
  width: 40%;
}
.inner-content .inner-left-text-image td:nth-child(1) {
  width: 50%;
  padding-right: 5em;
}
.inner-content .inner-left-text-image td:nth-child(1) img {
  height: 100%;
}
.inner-content .top-tips {
  border: 2px solid #da712f;
  padding: 2em;
  font-size: 18px;
}
.inner-content h2 {
  color: #da712f;
  font-weight: bold;
  padding: 2em 4em;
  font-family: "Futura Bold Oblique";
}

.shop-inner .right-content {
  padding-left: 3em;
}
.shop-inner h1 {
  font-family: "Canopee";
  font-size: 74px;
}
.shop-inner .full-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.shop-inner .small-images {
  padding-top: 1em;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.shop-inner .stars-image {
  height: 30px;
  display: block;
}
.shop-inner small {
  display: block;
}
.shop-inner .product-actions {
  padding-top: 2em;
}
.shop-inner .product-actions .form-control {
  width: auto;
  font-weight: bold;
  border-radius: 0;
  height: 45px !important;
  width: 140px;
  border: 1px solid black;
}
.shop-inner .product-actions .spinner-container {
  height: 45px;
  display: inline-flex;
}
.shop-inner .product-actions .spinner-container #input_spinner {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.shop-inner .product-actions .spinner-container #input_spinner::-webkit-outer-spin-button,
.shop-inner .product-actions .spinner-container #input_spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.shop-inner .product-actions .spinner-container input {
  border: 1px solid black;
  width: 80px;
  text-align: center;
  font-size: 20px;
}
.shop-inner .product-actions .spinner-container button {
  border: 1px solid black;
  width: 30px;
  background-color: transparent;
  font-size: 25px;
}
.shop-inner .product-actions .add-to-cart-inner {
  margin-top: 2em;
  display: block;
  width: 300px;
  height: 45px;
  background-color: #f3b10d;
  color: #fff;
  font-size: 20px;
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
}
.shop-inner .product-description h5 {
  color: #f3b10d;
  font-family: "Futura Medium";
  font-size: 18px;
  padding: 2em 0 2em 0;
}
.shop-inner .product-description label {
  font-weight: bold;
}
.shop-inner .product-description ul {
  padding-left: 2em;
  padding-top: 0.5em;
  font-size: 20px;
}
.shop-inner .product-description #accordion {
  padding-top: 2em;
}
.shop-inner .product-description .sec-panel {
  border-bottom: 1px solid #989898;
}
.shop-inner .product-description .panel {
  cursor: pointer;
  border-top: 1px solid #989898;
  padding-top: 1em;
  padding-bottom: 1em;
}
.shop-inner .product-description .panel h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.shop-inner .product-description .panel .panel-title {
  position: relative;
  color: #989898;
}
.shop-inner .product-description .panel .panel-title::after {
  content: "";
  color: #989898;
  top: -2px;
  right: 0px;
  position: absolute;
  font-family: "FontAwesome";
}
.shop-inner .product-description .panel .panel-title[aria-expanded=true]::after {
  content: "";
}
.shop-inner .product-description .panel .panel-body {
  padding-top: 1em;
}
@media only screen and (max-width: 767px) {
  .shop-inner .full-image {
    height: auto;
  }
  .shop-inner .small-images-container {
    justify-content: space-evenly;
  }
  .shop-inner .small-images-container .small-image-container {
    width: 200px;
    padding-right: 0;
    padding-left: 0;
  }
  .shop-inner .small-images-container .small-images {
    height: 100%;
    width: 100%;
  }
  .shop-inner h1 {
    font-size: 54px;
    padding-top: 1em;
  }
  .shop-inner .right-content {
    padding-left: 15px;
  }
  .shop-inner .product-actions .add-to-cart-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 399px) {
  .shop-inner .small-images-container .small-image-container {
    width: 150px;
  }
}

.shop-review {
  text-align: center;
  color: #989898;
}
.shop-review h5 {
  padding-top: 5em;
}
.shop-review hr {
  border-top: 2px solid #989898;
}
.shop-review p {
  padding: 3em;
}

.shop-inner-cards h1 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 1em;
}

#back-button {
  padding-top: 2em;
  padding-bottom: 2em;
}
#back-button img {
  padding-right: 2em;
}
#back-button a {
  font-size: 20px;
  font-weight: bold;
}

.full-menu {
  display: none;
  z-index: 1;
  background-color: #f3b10d;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  font-family: "Futura Heavy";
}
.full-menu .close-menu {
  text-align: center;
  padding: 2em;
}
.full-menu .close-menu label {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
.full-menu .menu-title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5em;
}
.full-menu .menu-title h1 {
  max-width: 650px;
  font-size: 68px;
}
.full-menu .menu-links-container {
  display: flex;
  flex: auto 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.full-menu .menu-links-container .cat-container h2 {
  font-size: 56px;
}
.full-menu .menu-links-container .cat-container ul {
  font-family: "Futura Heavy";
  font-weight: bold;
  list-style: none;
}
.full-menu .menu-links-container .cat-container ul li {
  padding-bottom: 1em;
}
.full-menu .menu-links-container .cat-container ul li a:hover {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .full-menu .menu-links-container .cat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .full-menu .menu-links-container .cat-container h2 {
    font-size: 40px;
  }
  .full-menu .menu-links-container .cat-container ul {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .full-menu .menu-title h1 {
    font-size: 52px;
  }
  .full-menu .menu-links-container {
    padding-top: 3em;
  }
}

#show_menu {
  cursor: pointer;
}

.nutrition-philosophy h1 {
  text-align: center;
  font-size: 78px;
}
.nutrition-philosophy .nutrition-header {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #333;
}
.nutrition-philosophy p {
  text-align: justify;
  font-size: 18px;
}

#inner_content_container table label {
  font-weight: bold;
  color: #da712f;
  font-size: 20px;
  font-family: "Futura Medium Oblique";
}
#inner_content_container table ul {
  list-style: none;
  font-size: 16px;
  padding: 1em 0;
}
#inner_content_container table .table-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 5em;
}
#inner_content_container table .table-text-content ol {
  padding-left: 1em;
}
#inner_content_container table .table-text-content ol li {
  padding: 1em 0;
  font-size: 16px;
}
#inner_content_container table .table-image {
  width: 50%;
  text-align: center;
  padding: 2em 0;
}
#inner_content_container table .table-image img {
  object-fit: cover;
  width: 100%;
}
#inner_content_container table .table-image p {
  font-size: 18px;
}
#inner_content_container table .image1 {
  padding-right: 1em;
}
#inner_content_container table .image2 {
  padding-left: 1em;
}

#search_bar {
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  line-height: 1.5em;
  font-size: 18px;
}
#search_bar::placeholder {
  font-size: 14px;
}
#search_bar:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
